<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-offset-1">
				<p>&copy; 2015 - 2017</p><br>
				<p>пл. Севастопольская, 2</p>
				<p>График работы</p>
				<p>с 9:00 до 19:00</p>
				<p>сб, вс - выходные дни</p>
			</div>
			<div class="footer-phones col-sm-4 col-md-3 text-right">       
		        <p><span>Моб. </span><a href="tel: +380673959192">(067) 395-91-92</a></p>
		        <p><span>Моб. </span><a href="tel: +380673959192">(067) 395-91-92</a></p>
		        <p><span>Тел. </span><a href="tel: +380673959192">(067) 395-91-92</a></p><br>
		        <p class="footer-mail"><a href="mailto:hello@clocklab.design">hello@clocklab.design</a></p>
		        <ul class="footer-social">
					<a href="https://facebook.com" target="_blank"></a>
					<a href="https://twitter.com" target="_blank"></a>
					<a href="https://vk.com" target="_blank"></a>
				</ul>
		    </div>
			<div class="col-sm-3 col-md-2 col-md-offset-1">
				<ul>
					<li><a href="static.html">О магазине</a></li>
					<li><a href="static.html">Оплата</a></li>
					<li><a href="static.html">Доставка</a></li>
					<li><a href="static.html">Акции</a></li>
				</ul>
			</div>
			<div class="col-sm-2 text-center">
				<div id="fb-root"></div>
				<div class="fb-like" data-href="https://facebook.com/mysecondspace" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div><br><br>
				<a href="https://www.instagram.com" class="ig-b- ig-b-v-24" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
			</div>
		</div>
	</div>
</footer>