<div class="product-block-inner">
	<a href="#">
		<img src="images/product.png" alt="">
	</a>
	<div class="text-left">
		<p><a href="product.html">Apple iPhone 6s Silver</a></p>
		<div class="description">
			<p>Экран <span>4.7, Retina, 3D Touch</span></p>
			<p>Камера <span>iSight, 8 Мп, 1080p</span></p>
			<p>Процессор <span>Apple A9 + M9</span></p>
			<p>Операционная система <span>iOS 10</span></p>
		</div>
		<p class="price">23 999 UAH</p>
		<input type="button" name="button" value="Купить">
	</div>
</div>