// global variables
$browser-context: 14;
$padding: 10px 25px;
$radius: 4px;
$depth: 1px;

// media queries
$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// colors
$button: #232F3E;
$border: #E8E8E8;
$primary: #232F3E;
$background: #FFF;
$secondary: #646464;
$silver: #CDCDCD;
$red: #E62A28;
$blue: #04599A;
$green: #DAf7DD;
$filter-blocks: #FF9191;
$button-pagination: #EEEEEE;

// gradients
$from-1: #232F3F;
$from-2: #E3E3E3;
$to-1: #2F3F53;
$to-2: #FEFEFE;

// fonts
$font: 'Roboto';
$regular: 400;
$thin: 300;
$bold: 700;